.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  background-color: #ffffffd1;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 10;
  // margin: 0 10px;
  top: 0;
  left: 0;
  right: 0;
}
