.search-container {
  width: 75px;

  .img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }
}
