.container {
  background-color: #fff;
  padding: 3rem 1rem;

  .delivery {
    background-color: rgba(254, 229, 76, 0.5);
    display: flex;
    flex-direction: column;
    border-radius: 2.5rem;
    margin: 2rem 1rem;
    padding: 1.5rem 1rem;
  }

  .summery {
  }
}
